.hero {
  background-color: #ffb8ca;
  background-image: url(../images/hero/mobile/pic2.png),
    url(../images/hero/mobile/Ellipse.png);
  background-repeat: no-repeat, no-repeat;
  background-position: left 117px bottom 0px, left 36px bottom 75px;
  background: contain, contain;

  &__container {
    height: 446px;
  }
  &__content {
    padding-top: 137px;
    padding-bottom: 160px;
    padding-right: 82px;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  &__title {
    margin: 0;
    font-family: Titan One;
    text-transform: uppercase;
    color: $text-primary;
    @include font(26px, 400, 1.15, 0.04em);
  }
  &__title--accent {
    margin: 0;
    color: $accent;
    width: 100%;
    font-family: Titan One;
    text-transform: uppercase;
    @include font(48px, 500, 1.15, 0.01em);
  }
  &__button {
    margin-top: 19px;
    margin-right: 9.2px;
    @include button(10px 25px, $accent);
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 10px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #ffffff;
  }
  &__button--white {
    @include button(10px 25px, $bg-primary);
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 10px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #d41443;
  }
}
