.hero {
  width: 100%;
  background-color: #ffb8ca;
  background-repeat: no-repeat, no-repeat;
  background-position: right 32px bottom 0px, right 0px bottom 75px;
  background: contain, contain;
  background-image: url(../images/hero/mobile/pic2.png),
    url(../images/hero/mobile/Ellipse.png);
  background-repeat: no-repeat, no-repeat;
  background-position: right 32px bottom 0px, right 0px bottom 75px;
  background: contain, contain;
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
   background-image: url(../images/hero/mobile/pic2@2x.png),
    url(../images/hero/mobile/Ellipse@2x.png);}
    @media screen and (min-device-pixel-ratio: 3),
  screen and (min-resolution: 288dpi),
  screen and (min-resolution: 3dppx) {
   background-image: url(../images/hero/mobile/pic2@3x.png),
    url(../images/hero/mobile/Ellipse@3x.png);
  }

  @include for-size(tablet) {
    background-image: url(../images/hero/tablet/pic2.png),
      url(../images/hero/tablet/pic3.png),
      url(../images/hero/tablet/Ellipse.png),
      url(../images/hero/tablet/pic1.png),
      url(../images/hero/tablet/arrow-right.png),
      url(../images/hero/tablet/marker.png),
      url(../images/hero/tablet/marker.png);
      background-position: right 247px bottom 0px, right 34px bottom 0px,
      right 137px bottom 46px, left 34px bottom 28px, left 154px bottom 34px,
      right 34px top 94px, right 34px top 151px;
    
    @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
   background-image: url(../images/hero/tablet/pic2@2x.png),
      url(../images/hero/tablet/pic3@2x.png),
      url(../images/hero/tablet/Ellipse@2x.png),
      url(../images/hero/tablet/pic1@2x.png),
      url(../images/hero/tablet/arrow-right@2x.png),
      url(../images/hero/tablet/marker@2x.png),
      url(../images/hero/tablet/marker@2x.png);}
    @media screen and (min-device-pixel-ratio: 3),
  screen and (min-resolution: 288dpi),
  screen and (min-resolution: 3dppx) {
   background-image: url(../images/hero/tablet/pic2@3x.png),
      url(../images/hero/tablet/pic3@3x.png),
      url(../images/hero/tablet/Ellipse@3x.png),
      url(../images/hero/tablet/pic1@3x.png),
      url(../images/hero/tablet/arrow-right@3x.png),
      url(../images/hero/tablet/marker@3x.png),
      url(../images/hero/tablet/marker@3x.png);
  }}
  @include for-size(desktop) {
    background-image: url(../images/hero/desktop/pic2.png),
      url(../images/hero/desktop/pic3.png),
      url(../images/hero/desktop/Ellipse.png),
      url(../images/hero/desktop/pic1.png),
      url(../images/hero/desktop/arrow-right.png),
      url(../images/hero/desktop/marker.png),
      url(../images/hero/desktop/marker.png);
       background-position: right 247px bottom 0px, right 34px bottom 0px,
      right 137px bottom 46px, left 34px bottom 28px, left 154px bottom 34px,
      right 34px top 94px, right 34px top 151px;
    
    @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
   background-image: url(../images/hero/tablet/pic2@2x.png),
      url(../images/hero/tablet/pic3@2x.png),
      url(../images/hero/tablet/Ellipse@2x.png),
      url(../images/hero/tablet/pic1@2x.png),
      url(../images/hero/tablet/arrow-right@2x.png),
      url(../images/hero/tablet/marker@2x.png),
      url(../images/hero/tablet/marker@2x.png);}
    @media screen and (min-device-pixel-ratio: 3),
  screen and (min-resolution: 288dpi),
  screen and (min-resolution: 3dppx) {
   background-image: url(../images/hero/tablet/pic2@3x.png),
      url(../images/hero/tablet/pic3@3x.png),
      url(../images/hero/tablet/Ellipse@3x.png),
      url(../images/hero/tablet/pic1@3x.png),
      url(../images/hero/tablet/arrow-right@3x.png),
      url(../images/hero/tablet/marker@3x.png),
      url(../images/hero/tablet/marker@3x.png);
  }}

 
  
  &__content {
    padding-top: 193px;

    @include for-size(tablet) {
      display: flex;
      flex-wrap: wrap;
      padding-top: 102px;
      justify-content: space-between;
    }
  }

  &__title {
    margin: 0;
    font-family: Titan One;
    text-transform: uppercase;
    color: $text-primary;
    @include font(26px, 400, 1.15, 0.04em);
    @include for-size(tablet) {
      @include font(22px, 400, 1.15, 0.04em);
      @include for-size(desktop) {
      @include font(22px, 400, 1.15, 0.04em);
    }
  }
  &__title--accent {
    margin: 0;
    color: $accent;
    width: 100%;
    font-family: Titan One;
    text-transform: uppercase;
    @include font(48px, 500, 1, 0.01em);
    @include for-size(tablet) {
      @include font(36px, 400, 0.85, 0.04em);
    }
  
  &__list {
    @include for-size(mobile-only) {
      display: none;
    }
        display: flex;
    flex-direction: column;
    align-items: center;
      }

  &__list-item:nth-child(2n + 1) {
    font-family: Titan One;
    @include font(28px, 400, 1.14, 0.04em);
    text-transform: uppercase;
    color: $accent;
  }
  &__list-item:nth-child(2n) {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 10px;
    color: #ffffff;
  }
  &__list-item:nth-child(2) {
    margin-bottom: 14px;
  }

  &__primary-text {
    display: block;
    margin: 66px 466px 59px 120px;
    color: $text-primary;
    font-family: DM Sans;
    @include font(8px, 400, 1.5, 0.04em);
    @include for-size(mobile-only) {
      display: none;
    }
  }
  