.hero-button {
  display: inline-block;
  align-items: center;
  text-align: center;
  margin-right: 9px;
  @include button(7px 13px, $accent);
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  @include font(8px, 400, 1.23, 0.04);
  color: #ffffff;
  &:hover,
  &:focus {
    cursor: pointer;
    background-color: #c7133e;
  }
  &--white {
    font-family: DM Sans;
    @include button(7px 13px, $bg-primary);
    @include font(8px, 400, 1.23, 0.04);
    color: #d41443;
    &:hover,
    &:focus {
      cursor: pointer;
      background-color: #ecebeb;
    }
  }
}
