.site-nav {
  @include flex-box(flex-start, center);
  font-family: DM Sans;

  &__list {
    display: none;

    @include for-size(desktop) {
      @include flex-box(flex-start, center);

      margin-right: 110px;
    }
  }

  &__item {
    @include font(16px, 700, 1.31, normal);
    font-family: inherit;
    color: $text-primary;

    &:not(:last-child) {
      margin-right: 33px;
    }
  }

  &__link {
    padding: 12px 0;
  }

  &__action {
    @include font(16px, 700, 1.31, 0.03em);
    @include button(12px 37px, $bg-primary);
    font-family: inherit;
    display: none;
    top: 0;
    right: 34px;
    color: $accent;

    &:after {
      content: '';
      display: inline-block;
      margin-left: 10px;

      width: 8px;
      height: 10px;
      background-image: url(../images/icons/arrow.svg);
    }

    &:hover,
    &:focus {
      background-color: #ecebeb;
    }

    @include for-size(tablet) {
      display: inline-block;
      position: absolute;
      margin-top: 42px;
    }

    @include for-size(desktop) {
      position: static;
      margin-top: 0;
    }
  }
}
