ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.products-section{
    // mobile
    padding-top: 121px;
    padding-bottom: 98px;
    font-family: Titan One;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    color: $text-primary;

    &__subtitle{
    font-size: 18px;
    line-height: 1.16;
    color: $text-decoration;
    }

    &__title{
    font-size: 34px;
    line-height: 1.14;
    color: $accent;
    }

    // &__list{
    //     display: flex;
    // }
}

.products-item{
    // max-width: 280px;
    margin-bottom: 130px;  
    border-radius: 24px;

    &--first{
        background-color:#FFB8CA;
    }

    &--second{
        background-color: #F0D1A5; 
    }

    &--third{
        background-color: #C2E297;
        margin-bottom: 0;
    }

    &__img{
        max-width: 249px;
        margin-bottom: 22px;
    }

    &__title{
        margin-bottom: 30px;
        font-size: 20px;
        line-height: 1.15;
    }

    // СЛАЙДЕР

    &__text{
        padding-right: 41px;
        padding-left: 39px;
        padding-bottom: 30px;
        font-family: DM Sans;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.5;
    }

    // SVG

}
