ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

h2,
h3, 
h4, 
p{
    margin-top: 0;
    margin-bottom: 0;
}

.products-section{
    // mobile
    padding-top: 121px;
    padding-bottom: 98px;
    font-family: Titan One;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    color: $text-primary;

    &__subtitle{
        margin-bottom: 15px;
        font-size: 18px;
        line-height: 1.16;
        color: $text-decoration;
    }

    &__title{
        margin-bottom: 144px;
        font-size: 34px;
        line-height: 1.14;
        color: $accent;
    }

    // &__list{
    //     display: flex;
    // }
}

.products-item{
    position: relative;
    padding-top: 161px;
    padding-bottom: 111px;
    margin-bottom: 130px;  
    border-radius: 24px;

    &--first{
        background-color:#FFB8CA;
    }

    &--second{
        background-color: #F0D1A5; 
    }

    &--third{
        background-color: #C2E297;
        margin-bottom: 0;
    }

    // ДОБАВЛЯЕТ IMG СТРЕЛКУ
    &::after{
        position: absolute;
        bottom: 41px;
        left: 50%;
        transform: translateX(-50%);
        content: "";
        display: block;
        width: 40px;
        height: 40px;
        background-image: url(../images/products/arrow-right-40.png);
        background-size: contain;

        @media screen and (min-device-pixel-ratio: 2),
               screen and (min-resolution: 192dpi),
               screen and (min-resolution: 2dppx) 
            {
                background-image: url(../images/products/arrow-right-40@2x.png);
            }
    }

    &__img{
        position: absolute;
        top: -113px;
        // top: 0;
        left: 16px;
        // transform: translateY(-113px);
        max-width: 249px;
    }

    &__title{
        position: relative;
        display: block;
        margin-bottom: 30px;
        padding-bottom: 30px;
        font-size: 20px;
        line-height: 1.15;

        // ДОБАВЛЯЕТ IMG 3 ТОЧКИ
        &::after{
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            content: "";
            display: block;
            width: 26px;
            height: 6px;
            background-image: url(../images/products/dots.png);
            background-size: contain;
            background-repeat: no-repeat;

            @media screen and (min-device-pixel-ratio: 2),
                   screen and (min-resolution: 192dpi),
                   screen and (min-resolution: 2dppx){
                    background-image: url(../images/products/dots@2x.png);
                }
        }
    }

    &__text{
        padding-right: 41px;
        padding-left: 39px;
        font-family: DM Sans;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.5;
        text-transform: none;
    }   
}
